// WHITE THEME

.fixed {
  .search-notes {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($bg_white-theme, 0.8);
    backdrop-filter: blur(2px);
    z-index: 997;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    .search-notes__wrapper {
      max-width: 1340px;
      margin: 0 auto;
      padding: 0 $margin;
    }
  }
}

.search-notes {
  top: -80px;
  transition: all 0.01s cubic-bezier(0.02, 0.01, 0.47, 1);
  .search-notes__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $margin 0;
  }
}

.search-notes__header {
  .h1 {
    line-height: normal;
    margin: 0;
  }
}

.search-notes__input {
  .input {
    margin: 0;
  }
}

.search-notes__filter {
  display: flex;
  svg {
    margin-left: $half-margin;
  }
}

// DARCK THEME

.darck__theme {
  .fixed {
    .search-notes {
      background: rgba($bg_black-theme, 0.8);
    }
  }
}

@media screen and (max-width: 767px) {
  .fixed {
    .search-notes {
      margin: 0;
      .search-notes__wrapper {
        padding: 0 $half-margin;
      }
    }
  }

  .search-notes {
    .search-notes__wrapper {
      padding: $half-margin 0;
    }
  }

  .search-notes__header {
    display: none;
  }
}
