// Font
$mainFontRegular: 'Montserrat-Regular', Helvetica, Arial, sans-serif;
$mainFontMedium: 'Montserrat-Medium', Helvetica, Arial, sans-serif;
$mainFontBold: 'Montserrat-SemiBold', Helvetica, Arial, sans-serif;

//Type font size
$defaultFZ: 18px;

@function rem($size) {
  @return $size / $defaultFZ * 1rem;
}

$desktopFont: ($defaultFZ / 16px) * 100%;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

$margin: 30px;
$half-margin: $margin / 2;

$border-rad: 23px;

// Main color white theme
$bg_white-theme: #f7f7f7;
$bg-transparent_white-theme: #f7f7f7cc;
$font-color_main_white-theme: #333333;
$font-color_main-transparent_white-theme: #33333380;
$input_white-theme: #ffffff;
$input-transparent-text_white-theme: #33333380;

// Main color black theme
$bg_black-theme: #000000;
$bg_transparent-black-theme: #000000cc;
$font-color_main_black-theme: #eeeeee;
$font-color_main-transparent_black-theme: #eeeeeecc;
$input_black-theme: #151515;
$input-transparent-text_black-theme: #ffffff80;

// Accent Color
$accent-color: #444ce0;
$priority-color: #fed330;
$important-color: #f54750;
$google-color: #4285f4;
$facebook-color: #4267b2;
$vk-color: #5b88bd;

// Border Color
$stroke_white-theme: #dcdfe6;
$stroke_black-theme: #505050;
