// WHITE THEME

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  .p_small {
    margin: 0;
    margin-left: $half-margin;
  }
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  img {
    width: rem(40px);
    height: rem(40px);
  }
  .footer__copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.footer__contact-me {
  display: flex;
}

.footer__toogle-theme {
  width: 84px;
  display: flex;
  align-items: center;
}

.toggler {
  width: 26px;
  height: 16px;
  padding: 3px;
  background: $font-color_main_white-theme;
  border-radius: 10px;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  cursor: pointer;
  .toggler-manipulator {
    width: 10px;
    height: 10px;
    background: $bg_white-theme;
    border-radius: 10px;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
}

.footer__social-networck {
  .footer__social-networck-link {
    margin-left: $half-margin;
  }
}

// DARCK THEME

.darck__theme {
  .toggler {
    background: $bg_white-theme;
    .toggler-manipulator {
      margin-left: 10px;
      background: $bg_black-theme;
    }
  }
}

// Active or Hover

.footer__wrapper {
  .footer__contact-me {
    .footer__toogle-theme {
      .toggler {
        &:hover {
          background: $accent-color;
        }
      }
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .footer__copyright {
    display: none !important;
  }
}
