.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .header__logo {
    a {
      position: relative;
      display: flex;
      font-family: $mainFontMedium;
      font-size: rem(46px);
      color: $bg_white-theme;
      cursor: pointer;
      .header__logo-text_white {
        width: rem(120px);
        display: flex;
        justify-content: center;
      }
      .header__logo-text_black {
        padding-left: rem(3px);
        color: $font-color_main_white-theme;
      }
      .header__logo-bg {
        width: rem(120px);
        height: rem(57px);
        position: absolute;
        top: 0;
        left: 0;
        background: $font-color_main_white-theme;
        z-index: -1;
      }
    }
  }
  .header__menu {
    .header__menu-ul {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .header__menu-li {
        margin-left: $margin;
        .header__menu-link {
          font-family: $mainFontMedium;
          font-size: 1rem;
          color: $font-color_main_white-theme;
          transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
          &:hover {
            color: $accent-color;
            transition-delay: 0s;
          }
          svg {
            display: none;
          }
        }
        .header__menu-link_active {
          color: $accent-color;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: rem(25px);
            width: 100%;
            height: rem(3px);
            background: $accent-color;
          }
          svg {
            fill: $accent-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .header__menu {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    display: flex;
    padding: $half-margin;
    background: rgba($bg_white-theme, 0.8);
    backdrop-filter: blur(2px);
    border: 1px solid $stroke_white-theme;
    border-radius: 15px 15px 0 0;
    z-index: 999;
    .header__menu-ul {
      width: 100vw;
      .header__menu-li {
        margin: 0 !important;
        .header__menu-link {
          display: flex;
          flex-direction: column;
          align-items: center;
          svg {
            display: block !important;
            width: 24px;
            height: 24px;
          }
        }
        .header__menu-link_active {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
