@import 'utils/vars';
@import 'utils/reset';
@import 'common';

html {
  overflow-y: scroll;
  font-size: $desktopFont;
  height: 100%;
  body {
    background: $bg_white-theme;
    color: $font-color_main_white-theme;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    overflow-x: hidden;
  }
}

@media screen and (max-width: $desktopWidth) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: $tableWidth) {
  // html {
  //   font-size: 15px;
  // }
}
@media screen and (max-width: $phoneWidth) {
  // html {
  //   font-size: 14px;
  // }
}

//Font
.h0 {
  font-family: $mainFontBold;
  font-size: rem(76px);
  font-weight: normal;
  line-height: rem(92px);
  margin-bottom: rem(46px);
}

.h1 {
  font-family: $mainFontMedium;
  font-size: rem(47px);
  font-weight: normal;
  line-height: rem(69px);
  margin-bottom: rem(23px);
}

.h2 {
  font-family: $mainFontRegular;
  font-size: rem(29px);
  font-weight: normal;
  line-height: rem(46px);
  margin-bottom: rem(23px);
}

.p {
  font-family: $mainFontRegular;
  font-size: rem(18px);
  line-height: rem(23px);
  font-weight: normal;
  margin-bottom: rem(23px);
}

.p_small {
  font-family: $mainFontMedium;
  font-size: rem(14px);
  font-weight: normal;
  line-height: rem(18px);
  margin-bottom: rem(18px);
}

.p_extra-small {
  font-family: $mainFontRegular;
  font-size: rem(12px);
  font-weight: normal;
  line-height: rem(16px);
  margin-bottom: rem(16px);
}

.bg_wt {
  color: $bg_white-theme;
}

.font-color__wt {
  color: $font-color_main_white-theme;
}

.font-color_wtt {
  color: $font-color_main-transparent_white-theme;
}

//Font black
.bg_bt {
  color: $bg_black-theme;
}

.bg_btt {
  color: $bg_transparent-black-theme;
}

.font-color_bt {
  color: $font-color_main_black-theme;
}

.input_bt {
  color: $input_black-theme;
}

.input-text_btt {
  color: $input-transparent-text_black-theme;
}

.font-color_btt {
  color: $font-color_main-transparent_black-theme;
}

// Page size structure

.wrapper {
  width: 100vw;
  max-width: 1340px;
  height: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 0 $margin;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: $header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.content-wrapper {
  width: 100%;
  min-height: calc(100vh - 80px - 60px);
}

footer {
  width: 100%;
  height: $footer;
}

@media screen and (max-width: $tableWidth) {
  .wrapper {
    padding: 0 $half-margin;
  }
}

.icon {
  width: 18px;
  height: 18px;
  fill: $font-color_main_white-theme;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  &.icon_white {
    fill: $input_white-theme;
  }
  &.icon_big {
    width: 24px;
    height: 24px;
  }
  &.icon_hover:hover {
    fill: $accent-color;
  }
  &.icon_logo {
    width: 36px;
    height: 36px;
  }
  &.icon__active {
    fill: $accent-color !important;
  }
}

//Input
.input {
  width: 100%;
  position: relative;
  background: $input_white-theme;
  border: 1px solid $stroke_white-theme;
  border-radius: $border-rad;
  margin-bottom: $half-margin;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  input {
    border-radius: $border-rad;
  }
  .input__icon {
    width: rem(46px);
    height: rem(46px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    img {
      width: 18px;
      height: 18px;
    }
  }
  input,
  textarea {
    width: 100%;
    padding: rem(12px) rem(46px);
    font-family: $mainFontRegular;
    font-size: rem(18px);
    line-height: rem(22px);
    color: $font-color_main_white-theme;
  }
}

.imput_without-icon {
  input {
    padding: rem(12px) rem(23px);
  }
  textarea {
    width: 100%;
    min-height: 217px;
    height: 100%;
    padding: rem(12px) rem(23px);
  }
}

.input_darck {
  background: $input_black-theme;
  color: $font-color_main-transparent_black-theme;
  border: 1px solid $stroke_black-theme;
  img {
    filter: invert(0.9);
  }
}

.upload {
  width: 100%;
  height: 100%;
  .upload-label {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: $border-rad;
      opacity: 0.5;
      z-index: 0;
    }
    .input__icon {
      position: relative;
      flex: 1 50%;
      width: 100%;
      z-index: 1;
      svg {
        width: 60px;
        height: 60px;
      }
    }
    .input__header {
      text-align: center;
      padding: 0 $border-rad;
      flex: 2 50%;
      z-index: 1;
    }
  }
  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer;
    z-index: 2;
  }
  .p {
    margin: 0;
  }
}
.upload:hover,
.hover__upload {
  .upload-label {
    .input__icon {
      svg {
        width: 80px;
        height: 80px;
      }
    }
  }
}

form {
  .input.input_valid {
    border-color: $ok-color;
  }
  .input.input_error {
    border-color: $important-color;
    animation: shake 1s;
  }
}

//Button
.btn {
  position: relative;
  display: inline-block;
  border-radius: $border-rad;
  border: 2px solid $font-color_main-transparent_white-theme;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  cursor: pointer;
  .btn__icon {
    width: rem(46px);
    height: rem(46px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  button {
    width: 100%;
    color: $font-color_main-transparent_white-theme;
    padding: rem(12px) rem(46px);
    font-family: $mainFontBold;
    font-size: rem(18px);
    line-height: rem(22px);
    text-transform: uppercase;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    cursor: pointer;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  button {
    cursor: not-allowed;
  }
  &:hover {
    box-shadow: none !important;
    background: $accent-color !important;
  }
}

.btn_gray {
  .btn__icon {
    svg {
      fill: $font-color_main-transparent_white-theme;
    }
  }
  &:hover {
    border-color: $accent-color !important;
    button {
      color: $accent-color !important;
    }
    svg {
      width: 24px;
      height: 24px;
      fill: $accent-color !important;
    }
  }
  .btn__icon {
    width: 42px;
    height: 42px;
    position: relative;
  }
}

.btn_primary {
  background: $accent-color;
  border: 1px solid $accent-color;
  button {
    color: $bg_white-theme;
  }
  &:hover {
    background: lighten($accent-color, 5%);
  }
}

.btn_full-width {
  display: flex;
  justify-content: center;
  margin-bottom: $half-margin;
  .btn__icon {
    display: none;
  }
  button {
    padding: rem(12px) rem(46px);
  }
}

.btn_social-login {
  width: 100%;
  height: rem(46px);
  display: flex;
  justify-content: center;
  border: none;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  .btn__icon {
    position: relative;
  }
}

.btn_google {
  background: $google-color;
  &:hover {
    background: lighten($google-color, 5%);
  }
}

.btn_facebook {
  background: $facebook-color;
  &:hover {
    background: lighten($facebook-color, 5%);
  }
}

.btn_vk {
  background: $vk-color;
  &:hover {
    background: lighten($vk-color, 5%);
  }
}

.error {
  position: relative;
  top: -$half-margin;
  text-align: center;
  height: 0;
  margin: 0;
  color: $important-color;
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;
  .message-ok,
  .message-error,
  .message-pending {
    display: flex;
    align-items: center;
    padding: $half-margin;
    margin-top: $margin;
    border-radius: 5px;
    box-shadow: 0 6px 28px -4px #ffffff4f;
    animation: bounceInDown 1s;
    svg {
      width: 24px;
      height: 24px;
      margin-right: $half-margin;
      fill: $input_white-theme;
    }
    .p {
      color: $input_white-theme;
      margin: 0;
    }
  }
  .message-ok {
    background: $ok-color;
  }
  .message-error {
    background: $important-color;
  }
  .message-pending {
    background: $priority-color;
    svg {
      animation-name: spin;
      animation-duration: 2000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}

// DARCK THEME

.darck__theme {
  background: $bg_black-theme;
  color: $font-color_main_black-theme;
  .icon {
    fill: $font-color_main_black-theme;
  }

  .input {
    background: $input_black-theme;
    border: 1px solid $stroke_black-theme;
    input,
    textarea {
      color: $font-color_main_black-theme;
    }
  }

  .login-form {
    .input__icon {
      svg {
        background: $input_black-theme;
        border-radius: 50%;
      }
    }
  }

  .login-form {
    .upload {
      .input__icon {
        svg {
          background: none;
        }
      }
    }
  }

  .hover:hover {
    box-shadow: 0 6px 28px -4px #ffffff4f;
  }
}

// Active or Hover

.hover:hover,
.hover__upload {
  border: 1px solid $accent-color !important;
  box-shadow: 0 6px 28px -4px #00000033;
  transition-delay: 0s;

  svg {
    width: 24px;
    height: 24px;
  }
}
