.profile-page {
  display: flex;
  padding: $margin 0;
  .user-profile {
    min-height: calc(100vh - #{$header} - #{$footer} - #{$margin} * 2);
    display: flex;
    min-width: 290px;
    max-width: 400px;
    flex: 2;
    flex-direction: column;
    position: relative;
    padding-right: $margin;
  }
  .user-charts {
    flex: 2;
  }
}

@media screen and (max-width: $tableWidth) {
  .profile-page {
    .user-profile {
      max-width: 100%;
      padding: 0;
    }
  }
}
