.login-page {
  min-height: calc(100vh - #{$header} - #{$footer});
  display: flex;
  justify-content: space-between;
  align-items: center;
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    .login-form__wrapper {
      max-width: 350px;
      .login-form__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: $half-margin;
        .h1,
        .p_small {
          margin: 0;
          line-height: normal;
        }
        .login-form__addition {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          text-align: right;
          .p_small {
            color: $accent-color;
          }
        }
      }
      .login-form__text {
        text-align: center;
        margin-bottom: 8px;
      }
      .login-form__social-login {
        display: flex;
        .btn {
          border: none !important;
          &:nth-child(2n) {
            margin: 0 $half-margin;
          }
        }
      }
    }
  }
  .slogan-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 3;
    padding-left: $margin;
    text-transform: uppercase;
    .slogan-text {
      width: 100%;
      max-width: 500px;
      text-align: right;
      font-family: $mainFontBold;
    }
  }
}

@media screen and (max-width: $desktopWidth) {
}

@media screen and (max-width: $tableWidth) {
  .login-page {
    .login-form {
      flex: 3;
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .login-page {
    min-height: auto;
    flex-direction: column-reverse;
    .slogan-block {
      justify-content: center;
      align-items: center;
      padding: 0;
      min-height: calc(100vh - #{$header});
    }
    .login-form {
      justify-content: center;
      align-items: center;
      min-height: calc(100vh - #{$footer});
    }
  }
}
